@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=M+PLUS+1p&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyInicio {
  background-color: #FAE1DD;
  background-image: url(./asset/img/imgBackTra.png);
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}

.navBar {
  background-color: #F8EDEB;
}
.navBar .navBarT {
  color: #FEC89A;
  font-size: 40px;
}
.navBar .logoT {
  color: #FEC5BB;
  font-size: 40px;
}
.navBar .logo {
  height: 60px;
  width: 100px;
  border-radius: 0 50%;
}
.navBar .navLink {
  color: #D8E2DC;
  font-size: 20px;
  text-decoration-line: none;
}

.inicio {
  height: calc(100vh - 90px);
  width: 100%;
}
.inicio h1 {
  font-family: "Alkatra", cursive;
  font-size: 90px;
  text-align: center;
  color: #FEC5BB;
  font-weight: 50px;
  animation: shakeY;
  animation-duration: 5s;
  padding: 30px;
}
.inicio h3 {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  color: #D8E2DC;
  animation: flash;
  animation-duration: 3s;
  padding: 30px;
}
.inicio p {
  font-family: "M PLUS 1p", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.inicio h2 {
  font-family: "Satisfy", cursive;
  font-size: 50px;
  color: #D8E2DC;
  padding: 30px;
}
.inicio ul {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 30px;
  padding: 30px;
  color: #FEC5BB;
}
.inicio li {
  font-size: 20px;
  font-family: "M PLUS 1p", sans-serif;
  color: black;
  font-weight: bold;
}

footer {
  background-color: #ECE4DB;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 30px;
  text-align: center;
  animation: wobble;
  animation-duration: 5s;
  padding: 0px;
  width: 100%;
  height: 150px;
  margin: 0;
}
footer i {
  font-size: 50px;
  color: #FEC89A;
  letter-spacing: 30px;
}
footer i:hover {
  color: #D8E2DC;
}

.bodyAprende {
  background-color: #F8EDEB;
}
.bodyAprende .inicioA {
  background-color: #D8E2DC;
  padding: 70px;
  margin: 0;
  width: 100%;
  height: 40px;
  text-align: right;
}
.bodyAprende .inicioA .volverA {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  color: #FEC89A;
}
.bodyAprende .inicioA .flechaA {
  color: #FEC5BB;
}

h1 {
  font-family: "Alkatra", cursive;
  color: #FEC5BB;
  font-size: 60px;
  text-align: center;
  animation: backOutDown;
  animation-duration: 6s;
}

.primeraParteAprende {
  display: flex;
  margin: 0;
}
.primeraParteAprende .pAprende {
  width: 50%;
  margin: 0;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 30px;
}
.primeraParteAprende .fotoLimpieza {
  height: 500px;
  width: 50%;
  margin: 0;
}

.segundaParteAprende {
  margin: 0;
  padding: 30px;
  width: 50%;
  display: grid;
}
.segundaParteAprende .fotoConsejo {
  height: 500px;
  width: 125%;
  margin: 0;
}
.segundaParteAprende li {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 25px;
}

.terceraParteAprende {
  margin: 0;
}
.terceraParteAprende li {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 25px;
}
.terceraParteAprende .mito {
  color: #FEC89A;
}

.bodySalado {
  background-color: #F8EDEB;
}
.bodySalado .inicioS {
  background-color: #D8E2DC;
  padding: 70px;
  margin: 0;
  width: 100%;
  height: 40px;
  text-align: right;
}
.bodySalado .volverS {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  color: #FEC89A;
}
.bodySalado .flechaS {
  color: #FEC5BB;
}

@media screen and (max-width: 480px) {
  .navBar {
    width: 150%;
  }
  .navBar .navBarT {
    font-size: 20px;
  }
  .navBar .logoT {
    font-size: 20px;
  }
  .navBar .logo {
    height: 60px;
    width: 100px;
    border-radius: 0 50%;
  }
  .navBar .navLink {
    font-size: 20px;
  }
  section {
    padding: 0;
    height: calc(30vh - 40px);
    width: 30%;
  }
  section h1 {
    font-size: 50px;
    font-weight: 20px;
    animation: shakeY;
    animation-duration: 5s;
    padding: 0px;
    margin: 0px;
  }
  section h3 {
    font-size: 60px;
    animation: flash;
    animation-duration: 3s;
    padding: 0px;
    margin: 0;
  }
  section h3 p {
    font-family: "M PLUS 1p", sans-serif;
    color: black;
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
  section h2 {
    font-size: 50px;
    padding: 0px;
    margin: 0;
  }
  section h2 p {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
  }
  section ul {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 30px;
    padding: 0px;
    margin: 0;
    color: #FEC5BB;
  }
  section ul li {
    font-size: 20px;
    font-family: "M PLUS 1p", sans-serif;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  footer {
    padding: 150px;
    width: 100%;
    height: 100px;
    margin: 5%;
  }
  .segundaParteAprende {
    margin: 0;
    padding: 2px;
    width: 10%;
  }
  .segundaParteAprende li {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 15px;
  }
  .terceraParteAprende {
    margin: 10px;
    padding: 20px;
    height: 50px;
    width: 5%;
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
