@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=M+PLUS+1p&family=Satisfy&display=swap');


//font-family: 'Alkatra', cursive;
//font-family: 'M PLUS 1p', sans-serif;
//font-family: 'Satisfy', cursive;

//Fuentes

$fuenteTitulo1: 'Alkatra',
cursive;
$fuenteotroTitulo: 'Satisfy',
cursive;
$fuenteParrafo: 'M PLUS 1p',
sans-serif;

//Colores



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAE1DD;
    background-image: url(./asset/img/imgBackTra.png);
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

.navBar {
    background-color: #F8EDEB;

    .navBarT {
        color: #FEC89A;
        font-size: 40px;
    }

    .logoT {
        color: #FEC5BB;
        font-size: 40px;
    }

    .logo {
        height: 60px;
        width: 100px;
        border-radius: 0 50%;
    }

    .navLink {
        color: #D8E2DC;
        font-size: 20px;
        text-decoration-line: none;
    }

}

section {
    height: calc(100vh - 90px);
    width: 100%;

    h1 {
        font-family: $fuenteTitulo1;
        font-size: 90px;
        text-align: center;
        color: #FEC5BB;
        font-weight: 50px;
        animation: shakeY;
        animation-duration: 5s;
        padding: 30px;
    }

    h3 {
        font-family: $fuenteotroTitulo;
        font-size: 60px;
        color: #D8E2DC;
        animation: flash;
        animation-duration: 3s;
        padding: 30px;

        p {
            font-family: $fuenteParrafo;
            color: black;
            font-size: 25px;
        }
    }

    h2 {
        font-family: $fuenteotroTitulo;
        font-size: 50px;
        color: #D8E2DC;
        padding: 30px;

        p {
            font-family: $fuenteParrafo;
            font-size: 20px;
            color: black;
        }
    }

    ul {
        font-family: $fuenteParrafo;
        font-size: 30px;
        padding: 30px;
        color: #FEC5BB;

        li {
            font-size: 20px;
            font-family: $fuenteParrafo;
            color: black;
            font-weight: bold;
        }
    }
}



footer {
    background-color: #ECE4DB;
    font-family: $fuenteParrafo;
    font-size: 30px;
    text-align: center;
    animation: wobble;
    animation-duration: 5s;
    padding: 20px;
    width: 100%;
    height: 150px;

    i {
        font-size: 50px;
        color: #FEC89A;
        letter-spacing: 30px;
    }

    i:hover {
        color: #D8E2DC;
    }
}

@media screen and (max-width: 560px) {

    .navBar {
        width: 150%;

        .navBarT {
            font-size: 20px;
        }

        .logoT {
            font-size: 20px;
        }

        .logo {
            height: 60px;
            width: 100px;
            border-radius: 0 50%;
        }

        .navLink {
            font-size: 20px;
        }

    }

    section {
        padding: 0;
        height: calc(30vh - 40px);
        width: 30%;

        h1 {
            font-size: 50px;
            font-weight: 20px;
            animation: shakeY;
            animation-duration: 5s;
            padding: 0px;
            margin: 20px;
        }

        h3 {
            font-size: 60px;
            animation: flash;
            animation-duration: 3s;
            padding: 30px;

            p {
                font-family: $fuenteParrafo;
                color: black;
                font-size: 25px;
            }
        }

        h2 {
            font-size: 50px;
            padding: 50px;
            margin: 0;

            p {
                font-family: $fuenteParrafo;
                font-size: 20px;
                color: black;
            }
        }

        ul {
            font-family: $fuenteParrafo;
            font-size: 30px;
            padding: 20px;
            margin: 0;
            color: #FEC5BB;

            li {
                font-size: 20px;
                font-family: $fuenteParrafo;
                color: black;
                font-weight: bold;
            }
        }
    }

    footer {
        font-size: 30px;
        text-align: center;
        animation: wobble;
        animation-duration: 5s;
        padding: 50px;
        margin: 0;
        width: 90%;
        height: 100px;
    }

}